<div class="well">
  <p class="text-center"><equation math="`oint_S vecE*dvecS = Q/epsilon_0`"></equation></p>
</div>

<p>Prva rovnica hovori o tom, ze elektricke pole je zriedlove a zriedlom pola je naboj ... bla bla bla :) Ale co to vlastne znamena? No najprv musim odbocit malicko a vysvetlit si jednotlive pojmy v tomto vzorci - len tak, pre istotu, aby sme boli na tej istej "vlne".</p>

<h1>Zakladne pojmy</h1>
<hr></hr>
<h2>Skalar</h2>
<div class="jumbotron">
  <p>Skalarom volame nieco co sa da jednoznacne urcit jednym cislom. Napriklad cas, hmotnost, teplota su fajn priklady. Cize ak mame skalarnu velicinu napriklad teplotu, tak ak chcem vediet teplotu v danom bode, tak mi uplne staci jedno cislo a mam vystarane. Skalarnym polom nazyvame nieco co je v kazdom bode popisane jednym cislom. Prestavme si izbu, kde v kazdom bode mam malilinky teplomer. Ten teplomer nam presne urcuje teplotu v kazdom bode miestnosti a teda mozeme hovorit o skalarnom poli, alebo o skalarnej funkcii, resp. skalarnej velicine:
<p class="text-center"> <equation math="`varphi(x,y,z) = n`"></equation></p>
<p>, kde <equation math="`n`"></equation> je realne cislo. <p>
<p>Ak <equation math="`varphi`"></equation> je teplota, tak to citame takto: Teplota <equation math="`varphi`"></equation> v bode <equation math="`(x,y,z)`"></equation> je rovna <equation math="`n`"></equation>.
<div class="alert alert-info">
  <p>Treba si vsimnut, ze <equation math="`varphi`"></equation> nema nad sebou ziaden symbol <equation math="`rarr`"></equation>, ani nie je pisany <strong>tucnym pismom</strong>. Toto je dolezite postrehnut, aby sme si ho nezamenili s inym zvieratom, vektorom!</p>
</div>
</div>
<h2>Vektor</h2>
<div class="jumbotron">
<p>
  Ako som uz bol spominal, tak vektor to je take ine zviera. Zviera ma aj hmostnost, ale sa aj ustavicne pohybuje, takze ak ho chcem chudaka ulapit, musim vediet aj to, ktorym smerom ho mam hladat :)</p>
<p>No ale spat k "tvrdej" matike/fyzike. Existuje vela fyzikalnych velicin u ktorych na ich popisanie nestaci jedine cislo, musime vediet aj smer, jednoducho myslenu sipku. Dobrym prikladom je rychlost. </p>
<p>Rychlost je vektorova velicina, asi kazdy pozna zakon (newtonovsky, nechajme relativisticke veci bokom), ktory hovori o scitavani rychlosti ak su tie rychlosti oproti sebe. Celna zraska dvoch aut s rychlost 50 a 30km/h je to iste ako narazit do steny s rychlostou 80km - au! No ale ak rychlo zaradime spiatocku a mame auto KIT, ktore riadi knigh rider (ano, zlate 90-te roky), tak dokazeme zrychlit trebars na 40km/h. V tom pripade je ten naraz ako keby sme naburali do steny s rychlostou 10km/h.</p>
<p>
Cize ako to je s tou rychlostou naozaj je? Raz je to scitavanie a raz je to odcitavanie? Cele zle! Vektor zachran nas!</p>
<p>
Predstavujem vam vektor, ako kazdy spravny vektor aj tento ma svoj smer aj velkost.
</p>
<svg align="center" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="132pt" height="14pt" viewBox="0 0 132 14" version="1.1">
<g id="surface9438">
<path style="fill:none;stroke-width:0.1;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:10;" d="M 4.800005 7.150067 L 10.763286 7.19616 " transform="matrix(20,0,0,20,-94.992278,-136.669299)"/>
<path style="fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;stroke-width:0.1;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:10;" d="M 11.138286 7.19909 L 10.636333 7.445184 L 10.763286 7.19616 L 10.640239 6.945184 Z M 11.138286 7.19909 " transform="matrix(20,0,0,20,-94.992278,-136.669299)"/>
</g>
</svg>
</p>
</p>
</div>
<h2>Skalarny sucin dvoch vektorov</h2>
<h2>Vektorovy tok</h2>
