svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media only screen and (max-width : 767px) {
  .same-height {
    height: auto !important;
  } 
}



 body {
      position: relative;
  }
  ul.nav-pills {
      top: 80px;
      position: fixed;
  }
  /*div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
  }*/
  
  
  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
        margin-left: 150px;
    }
  }